<%- include('includes/head.ejs') %>
  <style>
    /* CSS để tạo giao diện đẹp cho danh sách */
    .container {
      max-width: 100%;
      margin: 0 auto;
    }
    
    .frame-list {
      list-style: none;
      padding: 0;
      border: 1px solid #3498db;
      border-radius: 10px;
      background-color: #f1f1f1;
    }
    
    .frame-list-item {
      padding: 10px;
      border-bottom: 1px solid #3498db;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      color: #3498db;
    }
    
    .frame-list-item:last-child {
      border-bottom: none;
    }
    
    .frame-list-item span {
      font-weight: bold;
    }
    .tmp{
      font-size: clamp(10px, 1vw, 20px);
    }
  </style>
</head>
<body style="display: flex; justify-content: center;">
    <%- include('includes/navigation.ejs') %>
    <main style="margin: 0px; padding: 0px; ">
    <% if (access.length > 0) { %>
    <div class="container" style="max-width: 100%; margin-top: 20px;  margin-left: 0px; margin-right: 0px; padding: 0px;">
      <ul class="frame-list" style="max-width: 100%;">
        <% access.forEach(access => { %>
        <li class="frame-list-item" style="max-width: 100%;">
          <span class="tmp" style="color: #e74c3c; ">Name: <%= access.name %></span>
          <span class="tmp" style="color: #e67e22;">Email: <%= access.email %></span>
          <span class="tmp" style="color: #27ae60;">Time: <%= access.createdAt %></span>
        </li>
        <% }); %>
        <!-- Thêm các mục khác tương tự -->
      </ul>
    </div>
    <% } else { %>
      <h1>No access yet!</h1>
    <% } %>
    <script src="/public/app.js"></script>
<%- include('includes/end.ejs') %>